@import './prism.css';

@font-face {
  font-family: 'Pizel';
  src:
    url('$lib/assets/fonts/Pizel.woff2') format('woff2'),
    url('$lib/assets/fonts/Pizel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .color-olive {
    @apply bg-olive text-fantasy shadow-burgundy;
  }

  .color-flame {
    @apply bg-flame text-fantasy shadow-burgundy;
  }

  .color-fantasy {
    @apply bg-fantasy text-burgundy shadow-sunset;
  }

  .color-sand {
    @apply bg-sand text-burgundy shadow-flame;
  }

  .color-sunset {
    @apply bg-sunset text-burgundy shadow-sand;
  }

  .clickable {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg outline-burgundy transition-all duration-75;
  }

  .clickable[disabled] {
    @apply text-burgundy/50;
  }

  .clickable:not([disabled]) {
    @apply hover:-translate-y-1 focus-visible:-translate-y-1 focus-visible:outline active:translate-y-0.5 active:scale-x-110 active:scale-y-90;
  }

  .clickable[disabled] {
    @apply cursor-not-allowed border-dashed;
  }

  .btn {
    @apply clickable cursor-pointer p-3;
    box-shadow: 0 0;
  }

  .btn:hover:not([disabled]),
  .btn:focus-visible:not([disabled]) {
    box-shadow: 0 0.25rem;
  }

  .btn:active:not([disabled]) {
    box-shadow: 0 0;
  }

  .input {
    @apply w-full rounded-xl border-2 border-burgundy bg-fantasy p-3 font-condensed text-xl placeholder-flame outline-none focus:ring-0 focus-visible:border-burgundy focus-visible:outline-dashed focus-visible:outline-burgundy;
  }

  .input[disabled] {
    @apply cursor-not-allowed border-dashed border-burgundy/50 text-burgundy/50;
  }
}
.prose {
  @apply font-condensed text-xl;
}

.prose a {
  @apply text-flame;
}

.prose h1 {
  @apply mb-2 mt-12 font-mono text-4xl;
}

.prose h2 {
  @apply mb-2 mt-12 font-mono text-2xl;
}

.prose h3 {
  @apply mb-2 mt-12 font-mono text-lg;
}

.prose h4 {
  @apply mb-2 mt-12 font-mono text-base;
}

.prose h2 a,
.prose h1 a {
  @apply font-condensed text-xl;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply mb-4 list-inside;
}

.prose ul > li {
  @apply list-disc;
}

.prose li > ul {
  @apply ml-4;
}

.prose ol {
  @apply mb-4 list-inside;
}

.prose ol > li {
  @apply list-decimal;
}

.prose table {
  @apply mb-4 w-full table-auto;
}

.prose table tr {
  @apply border-b-2 border-burgundy;
}
