@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Press Start';
  font-style: normal;
  font-weight: 400;
  src:
    url('$lib/assets/fonts/press-start-2p-v15-cyrillic_latin-regular.woff2') format('woff2'),
    url('$lib/assets/fonts/press-start-2p-v15-cyrillic_latin-regular.ttf') format('truetype');
}

@layer components {
  .color-olive {
    @apply text-fantasy bg-olive;
  }

  .color-flame {
    @apply text-fantasy bg-flame;
  }

  .color-fantasy {
    @apply bg-fantasy text-burgundy;
  }

  .color-sand {
    @apply bg-sand text-burgundy;
  }

  .color-sunset {
    @apply bg-sunset text-burgundy;
  }

  .clickable {
    @apply transition-transform duration-75 hover:-translate-y-1 active:translate-y-0.5 active:scale-x-110 active:scale-y-90;
  }

  .btn {
    @apply clickable rounded-lg p-3 cursor-pointer;
  }
}
